In [41]:
import pandas as pd
import numpy as np

# print(pd.Series([1, 2, 3, "Amir", 5, np.nan]), "\n")
# print(pd.date_range("20250101", periods=6), "\n")
# print(pd.DataFrame(np.random.randn(2, 3)), "\n")
# print(pd.DataFrame(np.random.randn(2, 3)), "\n")

In [45]:
import pandas as pd
import numpy as np

dates = pd.date_range("2025, 01, 01", periods=6)
dFrame = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=["column 1", "column 2", "x", "y"])
dFrame
# print(dFrame, "\n")
# print(dFrame[0:2], "\n")
# print(dFrame.dtypes, "\n")
# print(dFrame.dtypes, "\n")
# print(dFrame.head(1), "\n")
# print(dFrame.tail(1), "\n")
# print(dFrame.describe(), "\n")

            column 1  column 2         x         y
2025-01-01 -0.881571  0.379928  1.567653  0.903396
2025-01-02  0.578749  0.136927  1.841734 -0.061168
2025-01-03 -0.681129 -0.053701 -1.184326 -1.051824
2025-01-04 -1.087022 -0.404668 -1.833296  0.232519
2025-01-05 -0.622357 -0.407456  1.045249  0.783381
2025-01-06  0.966403  1.899576  0.291199 -0.923560

In [55]:
import pandas as pd
import numpy as np

data = pd.DataFrame(np.random.randn(2, 3), index=["a", "b"])
print(data, "\n")
print(data.T, "\n")
print(data.sort_values(by=1))

          0         1         2
a  0.662334  0.184721  1.913608
b  0.271363 -1.188458  0.779126

          a         b
0  0.662334  0.271363
1  0.184721 -1.188458
2  1.913608  0.779126

          0         1         2
b  0.271363 -1.188458  0.779126
a  0.662334  0.184721  1.913608

# Read & Right Operations (file)

In [73]:
import pandas as pd
import numpy as np

data = pd.DataFrame(np.full([3, 4], 2))
# data.to_csv("./data.csv")
# data.to_excel("./data.xlsx")
# pd.read_excel("data.cs")
# pd.read_excel("data.xlsx")

   Unnamed: 0  0  1  2  3
0           0  2  2  2  2
1           1  2  2  2  2
2           2  2  2  2  2